@model EntityLayer.Concrete.Writer
@{
    ViewBag.Title = "UpdateWriter";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h3 style="font-weight:bolder; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Yazar Güncelle</h3>

@using (Html.BeginForm("UpdateWriter", "Writer", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Yazar ID")
    @Html.HiddenFor(x => x.WriterId, new { @class = "form-control" })
    <br />

    @Html.Label("Yazar Nickname")
    @Html.TextBoxFor(x => x.NickName, new { @class = "form-control" })
    <br />

    @Html.Label("Yazar Hakkında")
    @Html.TextAreaFor(x => x.AboutWriter, new { @class = "form-control" })
    <br />

    @Html.Label("Yazar Başlığı")
    @Html.TextAreaFor(x => x.WriterTitle, new { @class = "form-control" })
    <br />

    @Html.Label("Fotoğraf Linki")
    @Html.TextBoxFor(x => x.WriterImage, new { @class = "form-control" })
    <br />

    @Html.Label("Email")
    @Html.TextAreaFor(x => x.WriterEmail, new { @class = "form-control" })
    <br />

    @Html.Label("Parola")
    @Html.TextAreaFor(x => x.WriterPassword, new { @class = "form-control" })
    <br />

    <button class="btn btn-warning">Güncelle</button>
</div>
}